<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>D&S Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    
    <!-- Adding Vue js-->
 
<script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <header>
      Team 20 - Data and Systems Project
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="referee.html">Referee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="games.html" active>Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="assignment.html">Assignment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="game_assignment.html">Game Assignments</a>
      </li>
    </ul>
  </div>
</nav>
<div id='anotherApp'>
<br>
<br>
<div id="anotherApp" class="container">
  <div class="row">
    <div class="col">
      <h1>List of Games</h1>
      <div class="divider"></div>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Field Number</th>
            <th>Start Date</th>
            <th>Start Time</th>
            <th>Game Level</th>
            <th>Number of Referees</th>
            <th>Game Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="game in games">
            <td>{{ game.field_num }}</td>
            <td>{{ game.start_date }}</td>
            <td>{{ game.start_time}}</td>
            <td>{{ game.game_level }}</td>
            <td>{{ game.num_of_refs}}</td>
            <td>{{ game.game_name}}</td>
            <td>
                <button type="button" class="btn btn-outline-secondary btn-sm"
                              v-on:click="selectGame(game)">Edit</button>
                <button type="button" class="btn btn-outline-secondary btn-sm"
                              v-on:click="postDeleteGame(game)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
      </div>
      <p><a href="api/reports/games.php/?format=csv" download>Download as CSV</a>

    <h4>{{selectedGame === null ? "Add" : "Edit" }}</h4>
    <br>
    <form v-on:submit.prevent="postGame">
      <div class="row">
        <div class="col">
          <label for="fieldNum">Field Number</label>
          <input type="number" id="fieldNum" class="form-control" aria-describedby="fieldNum"
            placeholder="Enter Field Number" v-model="gameForm.field_num">
        </div>
        <div class="col">
          <label for="startDate">Start Date</label>
          <input type="date" id="startDate" class="form-control" aria-describedby="startDate"
            placeholder="Enter Start Date" v-model="gameForm.start_date">
        </div>

      </div>
      <div class="row">
        <div class="col">
          <label for="startTime">Start time</label>
          <input type="time" id="startTime" class="form-control" aria-describedby="startTime"
            placeholder="Enter Start Time" v-model="gameForm.start_time">
        </div>
        <div class="col">
          <label for="gameLvl">Game Level</label>
          <input type="number" class="form-control" id="gameLvl" aria-describedby="gameLvl"
            placeholder="Enter Game Level" v-model="gameForm.game_level">
        </div>
      </div>
      <div class="mb-3">
        <label for="numOfRefs">Number of Referees</label>
        <input type="number" id="numOfRefs" class="form-control" aria-describedby="numOfRefs"
          placeholder="Enter # of Referees" v-model="gameForm.num_of_refs">
      </div>
      <div class="row">
        <label for="gamename" class="form-label" >Game Name:</label>
        <input type="text" v-model="gameForm.game_name" class="form-control" id="gamename" >
       </div>
       <br>
      <button type="submit" style="margin: 0px 10px 0px 0px;" class="btn btn-primary"><svg
          xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg"
          viewBox="0 0 20 20">
          <path
            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
        </svg>{{selectedAssignment === null ? "Add" : "Edit" }}</button>
      <button type="button" class="btn btn-outline-secondary" v-if="selectedGame" v-on:click="resetGameForm"><svg
          xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg"
          viewBox="0 0 20 20">
          <path fill-rule="evenodd"
            d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
          <path fill-rule="evenodd"
            d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
        </svg>Cancel</button>
    </form>


    <button type="button" class="btn btn-outline-secondary" v-on:click="fetchUnassigned">View Unassigned Games</button>
    <br>
    <br>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Field Number</th>
          <th>Start Date</th>
          <th>Start Time</th>
          <th>Game Level</th>
          <th>Number of Referees</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="game in unassignedGames">
          <td>{{ game.field_num }}</td>
          <td>{{ game.startdate }}</td>
          <td>{{ game.start_time}}</td>
          <td>{{ game.game_level }}</td>
          <td>{{ game.num_of_refs}}</td>
          <td>
            <button type="button" class="btn btn-outline-secondary btn-sm" v-on:click="selectGame(game)">Edit</button>
            <button type="button" class="btn btn-outline-secondary btn-sm"
              v-on:click="postDeleteGame(game)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <p><a href="api/reports/?format=csv" download>Download as CSV</a></p>
  </div>
  </div>
  </div>

<br>
<br>
<footer>

ISRA | Phone: 123-456-7890 | 444 Four Circles Dr,Indianapolis, Indiana 47404
</footer>
</div>
</div>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>    
<script src="./js/index.js"></script>

<!-- Mount App
<script>
  const mountedApp = app.mount('#someApp')
</script> -->
</body>
</html>